.container {
    display: grid;
    grid-template-columns: auto auto auto;
    border: 2px solid black;
  }
  .container > div {
    padding: 5px;
    background-color: rgb(182, 141, 92);
    border: 2px solid black;
  }